<script>
  start({
    id: 'player',
    embed: 'embed',
    loop: true,
    color: 'green',
    radius: '10',
    controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'],
    settings: ['captions', 'quality', 'speed', 'loop'],
    autoplay: false,
  });
</script>
