.plyr iframe[id^=youtube] {
  top: -100%!important;
  min-height: 300%!important;
}

.plyr {
  filter: blur(1.5rem); /* Initial blur effect */
  transition: filter 1.3s; /* Smooth blur transition */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.unmute-button {
  display: none; /* Initially hidden */
  /* ... (rest of the unmute button styles) */
}
